<!-- Start Document Source Area -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/networks.png" alt="box img">
                            <h3>Use PopPUNK</h3>
                            <p>Use/install via three interfaces</p>
                            <a href="/pages/interfaces.html" class="themeix-btn danger-bg">Available interfaces</a>
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h3>Available interfaces</h3>
                            <p>PopPUNK can be used from your browser, Galaxy servers or the command line.</p>
                            <a href="/pages/interfaces.html" class="themeix-btn danger-bg">Install/Use PopPUNK</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/bacteria.png" alt="box img">
                            <h3>Species databases</h3>
                            <p>Three species currently available</p>
                            <a href="/pages/databases.html" class="themeix-btn hover-bg">Assign clusters</a>
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h3>Assign clusters</h3>
                            <p>Use existing databases to assign new genomes to clusters, and place them in the context of these populations.</p>
                            <a href="/pages/databases.html" class="themeix-btn danger-bg">Browse databases</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/guides.png" alt="box img">
                            <h3>Guides</h3>
                            <p>View common usage guides</p>
                            <a href="https://poppunk.readthedocs.io/en/latest/best_practises.html" class="themeix-btn primary-bg">Browse documentation</a>
                        </div>
                        <div class="box-flip">
                           <div class="flip-box-innner">
                            <h3>Browse documentation</h3>
                            <p>See how to use PopPUNK to solve common genomic epidemiology problems.</p>
                            <a href="https://poppunk.readthedocs.io/en/latest/best_practises.html" class="themeix-btn danger-bg">See all guides</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Document Source Area -->