    <!-- Start Call To Action Area -->
    <div class="call-to-action-area hover-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>NEW: Try using PopPUNK interactively</h2>
                        <p>Use PopPUNK to assign <a href="https://www.pneumogen.net/gps/assigningGPSCs.html" targer="_blank">Global Pneumococcal Sequence Clusters</a> in <em>S. pneumoniae</em> using an interactive browser interface</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="https://pathogen.watch/genomes/all?genusId=1301&speciesId=1313" target="_blank" class="themeix-purchase-btn-3">Try on pathogen.watch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->