    <!-- Start Footer Area -->
    <footer>
        <div class="footer-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-3">
                                <div class="single-footer">
                                    <h3 class="footer-heading">Usage links</h3>
                                    <div class="footer-list">
                                        <ul>
                                            <li><a href="https://poppunk.readthedocs.io/en/latest/installation.html">Command line</a></li>
                                            <li><a href="https://web.poppunk.net/">PopPUNK web</a></li>
                                            <li><a href="https://pathogen.watch/genomes/all?genusId=1301&speciesId=1313">pathogen.watch</a></li>
                                            <li><a href="https://toolshed.g2.bx.psu.edu/view/johnlees/poppunk/a3613553c65f">Galaxy server</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        <div class="col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Useful links</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="http://poppunk.readthedocs.io/en/latest/">Documentation</a></li>
                                        <li><a href="https://doi.org/10.1101/gr.241455.118">Paper</a></li>
                                        <li><a href="https://github.com/johnlees/PopPUNK">Code</a></li>
                                        <li><a href="https://github.com/johnlees/pp-sketchlib">Sketching</a></li>
                                        <li><a href="https://github.com/johnlees/PopPIPE">Subclustering</a></li>
                                        <li><a href="https://anaconda.org/bioconda/poppunk">Bioconda package</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="single-footer">
                                    <h3 class="footer-heading">PopPUNK: Population Partitioning Using Nucleotide K-mers</h3>
                                    <div class="single-footer-text">
                                        <p>PopPUNK is a tool for bacterial genomic epidemiology, capable of rapidly calculating core and accessory distances, clustering genomes, assigning new genomes to cluster schemes, and producing visualisations.</p>
                                        <p>PopPUNK is developed by <a href="http://www.johnlees.me">John Lees</a> and <a href="https://www.imperial.ac.uk/people/n.croucher">Nicholas Croucher</a>.</p>
                                    </div>
                                </div>
                         </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <div class="footer-bottom-area themeix-pb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom">
                            <div class="footer-logo">
                                <a href="#"><img src="{{site.baseurl}}/assets/images/logo.png" alt="logo"></a>
                            </div>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="mailto:poppunk@poppunk.net">Contact</a></li>
                                    <li><a href="https://github.com/johnlees/PopPUNK/issues" target="_blank">Report issues</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
        <!-- Start Scroll To Top -->
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <!-- End Scroll To Top -->
    </footer>
    <!-- End Footer Area -->

    <!-- jquery min -->
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Js -->
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

    <!-- jQuery Easing -->
    <script src="{{site.baseurl}}/assets/js/jquery.easing.js"></script>

    <!-- Owl Carousel Js -->
    <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOCx7VEftKaGSK2F2p_tUKmMSdN00palo"></script>

    <!-- Mean Menu -->
    <script src="{{site.baseurl}}/assets/js/jquery.meanmenu.js"></script>

    <!-- Particles JS CDN -->
    <script src="{{site.baseurl}}/assets/js/particles.min.js"></script>

    <!-- Main Js -->
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>