    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper-2">
                   <div id="particles-js">
                   <div class="slider-fixed-text">
                       <h1>PopPUNK: Population partitioning using nucleotide k-mers</h1>
                       <p>Calculate core and accessory distances, cluster genomes, assign new genomes to clusters, make visualisations</p>
                         <div class="slider-buttons">
                            <a href="https://poppunk.readthedocs.io/en/latest/" class="themeix-btn white-bg" target="_blank">View documentation</a>
                            <a href="https://github.com/johnlees/PopPUNK" class="themeix-btn white-bg" target="_blank">View code</a>
                        </div>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->